-
  var items = [
    {
      img: '/images/test-img/slider/1.png',
      title: 'Артобъекты, в которых нам пришлось себя сдерживать',
      projectName: 'Красивое название проекта',
      name: 'Евгения Болотова, 2019 г.',
      projects: [
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        }
      ]
    },
    {
      img: '/images/test-img/slider/1.png',
      title: 'Артобъекты, в которых нам пришлось себя сдерживать',
      projectName: 'Красивое название проекта',
      name: 'Евгения Болотова, 2019 г.',
      projects: [
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        }
      ]
    },
    {
      img: '/images/test-img/slider/1.png',
      title: 'Артобъекты, в которых нам пришлось себя сдерживать',
      projectName: 'Красивое название проекта',
      name: 'Евгения Болотова, 2019 г.',
      projects: [
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        }
      ]
    },
    {
      img: '/images/test-img/slider/1.png',
      title: 'Артобъекты, в которых нам пришлось себя сдерживать',
      projectName: 'Красивое название проекта',
      name: 'Евгения Болотова, 2019 г.',
      projects: [
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        }
      ]
    },
    {
      img: '/images/test-img/slider/1.png',
      title: 'Артобъекты, в которых нам пришлось себя сдерживать',
      projectName: 'Красивое название проекта',
      name: 'Евгения Болотова, 2019 г.',
      projects: [
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        }
      ]
    },
    {
      img: '/images/test-img/slider/1.png',
      title: 'Артобъекты, в которых нам пришлось себя сдерживать',
      projectName: 'Красивое название проекта',
      name: 'Евгения Болотова, 2019 г.',
      projects: [
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        }
      ]
    },
    {
      img: '/images/test-img/slider/1.png',
      title: 'Артобъекты, в которых нам пришлось себя сдерживать',
      projectName: 'Красивое название проекта',
      name: 'Евгения Болотова, 2019 г.',
      projects: [
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        },
        {
          img: '/images/test-img/slider/2.png',
        }
      ]
    },
  ]

section.portfolio-slider
  .portfolio-slider__slides.js-portfolio-slider
    each item, index in items
      .portfolio-slider__slide
        picture 
          source(srcset="images/test-img/slider/320x480.png" type="image/png" media="(max-width:380px)")
          source(srcset="images/test-img/slider/768x980.png" type="image/png" media="(max-width:1024px)")
          img(src=item.img, alt=item.title width="1280" height="670").portfolio-slider__img
        .portfolio-slider__relative
        .portfolio-slider__inner
          h2.portfolio-slider__title=item.title
          .portfolio-slider-card
            .portfolio-slider-card__title=item.projectName
            .portfolio-slider-card__name=item.name
            .portfolio-slider-card__button
              button.button(data-remodal-target=`modal-${index}`) Смотреть проект

        .remodal.js-projects-modal.portfolio-slider-projects(
          data-remodal-id=`modal-${index}`
          data-remodal-options="hashTracking:false, modifier: modal-fullscreen, closeOnEscape:false"
        )
          .portfolio-slider-projects__top
            .portfolio-slider-projects__title=item.title
          .js-projects-slider.portfolio-slider-projects__projects-slider
            each project in item.projects
              .portfolio-slider-projects__projects-item
                .modal-close(data-remodal-action="close")
                  +icon(name="close").modal-close__icon
                picture 
                  source(srcset="images/test-img/slider/project320x480.png" type="image/png" media="(max-width:320px)")
                  source(srcset="images/test-img/slider/project768x980.png" type="image/png" media="(max-width:500px)")
                  img(src=project.img alt="img" width="1280" height="670").portfolio-slider__img